{% extends 'layout.html' %}
{% block title %} MG03 | Books {% endblock %}
{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-book"></i> Books</h1>
    </div>
    <!-- Content Row -->
    <div class"row">
        <div class="card o-hidden border-0 shadow-lg my-5 col-lg-12 mobile-card" style="padding: 50px;">
            <div id="search-add-wrapper" style="padding: 10px 10px 10px 0;">
                <form
                    class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST" style="margin-top: 20px; display: flex;margin-left: 0!important;">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0" placeholder="Search Books"
                            aria-label="Search" aria-describedby="basic-addon2" name="search-area" value="{{search_input}}">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit" value="Search">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
                
            <div class="content-section p-0 mt-5">
                {% if books %}
                <div class="album py-5 bg-light">
                    <div class="container mobile-container">
                        <div class="row">
                            {% for book in books %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ book.thumbnail }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
                                    <div class="card-body">
                                        <p class="card-text">{{ book.title }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a type="button" href="{{ book.preview }}" class="btn btn-sm btn-outline-secondary" target="_blank">View</a>
                                            </div>
                                            {% if book.rating is not None %}
                                            <small class="text-muted">{{ book.rating }} star rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}